img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
i {
  vertical-align: top;
}
a{
  display: inline-block;
  transition: all .3s;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}