.image-h {
  &-84 {
    height: 84px;
  }
  &-120 {
    height: 120px;
  }
  &-256 {
    height: 256px;
  }
  &-285 {
    height: 285px;
  }
  &-345 {
    height: 345px;
  }
  &-400 {
    height: 400px;
  }
  &-560 {
    height: 560px;
  }
}
.image-w {
  &-120 {
    width: 120px;
  }
}

.image-h-md-256 {
  @include media-breakpoint-up(md) {
    height: 256px;
  }
}

.image-h-lg-285 {
  @include media-breakpoint-up(lg) {
    height: 285px;
  }
}